.Navbar
{
    display: grid;
   align-items: center;
    background-color: rgba(243, 50, 188, 0.571);
    color:yellow;
}
.content
{
    display: grid;
    background-color: rgba(71, 66, 224, 0.829); 
}

.nav{
display: flex;
justify-content: space-between;
align-items: center;
}
.container{
    margin-left: 60px;
    margin-right: 60px;
    padding: 20px;
}
.btn2
{
    margin-left: 10px;
    background: rgb(53, 53, 95);
    color:white;
    border-radius: 2px;
}
.btn2:hover{
    color: rgb(53, 53, 95);
    background:white;
}
.btn1
{
    color:red;

}